body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    width: 96%;
    max-width: 980px;
    margin: 0 auto;
    padding: 0 2%;
}
header{
    border-top: 5px solid seagreen;
    background: rgb(238, 238, 238);
    margin-bottom: 50px;
    color: seagreen;
    height: 100px;
}
header img{
    margin: 10px;
    float: left;
}
header h1{
    float: left;
    font-size: 2.5em;
    margin-left: 50px;
}

.coffeelist {
    margin-left: 133px;
    letter-spacing: 1px;
}
.coffeelist h2 {
    text-transform: uppercase;
    letter-spacing: 3px;
}
li{
    list-style-type: none;
    padding: 3px;
}
li:nth-child(even){
    color: seagreen;
}
li:hover {
    background: rgba(46, 139, 87, 0.1);
}
.aantalkopjes{
    font-size: 1.5em;
}
input{
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid seagreen;
    color: seagreen;
    font-weight: 700;
    font-size: 14px;
}
::placeholder{
    color: grey;
}
button{
    width: 101.5%;
    padding: 10px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 900;
    background: seagreen;
    color: #fff;
    border: 2px solid seagreen;
}
button:hover{
    background: #fff;
    color: seagreen;
    border: 2px solid seagreen;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
hr{
    margin: 50px 0;
    width: 101.5%;
}
.seagreen{
    color: seagreen;
}